.recomends {
  display: flex;

  &__item {
    text-align: center;
  }
  &__icon {
    display: inline-block;    
    background-image: url("../img/recomends-sptite.png");
    background-repeat: no-repeat;
    width: 75px;
    height: 75px;
    margin-bottom: 35px;
    
    &--home {
      background-position: -5px -168px;      
    }
    &--food {
          background-position: -5px -86px;      
    }
    &--gift {   
      background-position: -5px -5px;
      
    }
  }
  &__title {
    font-size: 21px;
    line-height: 21px;
    font-weight: bold;
    margin-bottom: 29px;
  }
  &__content {
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
    margin: 0;
    padding: 0;
  }
  
}