.search-form {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -285px;
  width: 460px;
  padding: 55px; 
  z-index: 10;
  background-color: #fff; 
  box-shadow: 0 10px 20px rgba(0, 0, 0, .15);
  &--show {
    display: block;
  }
  &__row {
    .clearfix();
    margin-bottom: 29px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__col {
    font-size: 0;
    width: 228px;
    
    .clearfix();
    &:first-child {
      float: left;      
    }
    &:last-child {
      float: right;  
      width: 180px;    
    }
  }
  &__label,
  &__field,
  &__amount {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 14px;
    line-height: 26px;
    font-weight: bold;
    font-style: normal;
    text-transform: uppercase;    
  }
  &__label {      
    margin: 0;
    padding: 0;
    float: left;
    padding: 6px 0;
  }
  &__field {
    float: right;
    padding: 6px 38px 6px 15px;
    width: 293px;
    border: none;
    outline: none;
    background-color: #f2f2f2;
    background-image: url("../img/sprite.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-position: 315px -103px;
    &:hover {
      background-color: #ebebeb;
      background-position: 315px -135px;
    }
    &:focus {
      background-position: 315px -71px; 
    }
  }
}
.number {
  float: right;  
  &__field {
   font-family: "PT Sans", "Arial", sans-serif;
   font-size: 14px;
   line-height: 26px;
   font-weight: bold;
   font-style: normal;
   text-transform: uppercase;
   text-align: center;
   width: 38px;
   padding: 6px 0;
   border: none;
   outline: none;
   background-color: #f2f2f2;

  }
  &__btn {
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    width: 38px;
    height: 38px;
    font-size: 16px;
    line-height: 16px;
    font-weight: normal;    
    font-family: "symbols-sedona";
    text-align: center;
    text-transform: none;
    font-style: normal;
    font-variant: normal;
    border: none;
    outline: none;
    color: #a9a9a9;
    &:hover {
      color: #000;
    }
    &:active {
      color: @base-color;
    }
    &--plus::after {
      content: "\e801";      
    }
    &--minus::after {
      content: "\e802";      
    }
  }
}